.header{
    display: flex;
    justify-content: center;
    background-color: #393b43;
    margin-top: 0px;
   
}

a
{

    /* background-color: rgb(163, 114, 185); */
    padding: 30px;
    margin: 3px;
    color: rgb(249, 248, 245);
    font-size: 25px;
    text-decoration:none;
    

}